window.QUnitGlobals = {
    _taskId: "{{{taskId}}}",
    _path: "{{{path}}}",
    _fullPath: "{{{testFullPath}}}",

    hostname: "{{{hostname}}}",
    crossDomainHostname: "{{{crossDomainHostname}}}",

    getResourceUrl: function (filePath, resourceName) {
        return [
            '/test-resource',
            resourceName ? ('/' + resourceName) : '',
            '?filePath=',
            encodeURIComponent(filePath),
            '&base=',
            window.QUnitGlobals._fullPath
        ].join('');
    }
};
