var pageErrorMessage = null;
var done             = false;
var report           = {
    path:  window.QUnitGlobals._path,
    tests: []
};

var nativeXMLHttpRequest = window.XMLHttpRequest;

QUnit.log(function (res) {
    function replaceQuotas (str) {
        return str.replace(/'/g, '\\\'');
    }

    var testReport = report.tests.filter(function (item) {
        return item.name === res.name;
    })[0];


    if (!testReport) {
        testReport = {
            name:       replaceQuotas(res.name),
            failed:     false,
            assertions: []
        };

        report.tests.push(testReport);
    }

    testReport.assertions.push({
        failed:   !res.result,
        module:   res.module,
        actual:   typeof res.actual === 'string' ? replaceQuotas(res.actual) : res.actual,
        expected: typeof res.expected === 'string' ? replaceQuotas(res.expected) : res.expected,
        message:  typeof res.message === 'string' ? replaceQuotas(res.message) : res.message,
        runtime:  res.runtime,
        source:   res.source ? res.source.replace(/\n/g, '-----> \\n') : ''
    });

    if (!res.result)
        testReport.failed = true;
});

QUnit.done(function (res) {
    if (!window.QUnitGlobals._taskId || done)
        return;

    done = true;

    report.failed  = res.failed;
    report.passed  = res.passed;
    report.total   = res.total;
    report.runtime = res.runtime;

    window.XMLHttpRequest = nativeXMLHttpRequest;

    //NOTE: we should proccess assertions because some of the actual-expected values can't be stringified
    report.tests = report.tests.map(function (test) {
        test.assertions = test.assertions.map(function (assertion) {
            var canNotStringify = false;

            try {
                JSON.stringify(assertion.actual);
                JSON.stringify(assertion.expected);
            }
            catch(err) {
                canNotStringify = true;
            }

            if(canNotStringify) {
                try {
                    assertion.actual = assertion.actual.toString();
                    assertion.expected = assertion.expected.toString();
                }
                catch(err) {
                    assertion.actual = null;
                    assertion.expected = null;
                }
            }

            return assertion;
        });

        return test;
    });

    $.ajax({
        url:         '/test-done/' + window.QUnitGlobals._taskId,
        type:        'POST',
        contentType: 'application/json',
        data:        JSON.stringify({ report: report }),
        success:     function (url) {
            document.location = url;
        }
    });
});

QUnit.begin(function () {
    $('#qunit-tests').css('display', 'none');
});

QUnit.done(function () {
    $('#qunit-tests').css('display', '');
});
