Results:

{{{taskPath}}}

Total: {{{total}}}
Completed: {{{completed}}}
Success: {{{passed}}}

{{#failed}}
    Failed:
    {{#failedTaskReports}}
        ----------{{{name}}}----------
        {{#result}}
            {{#tests}}
                {{#failed}}
                    Test name: {{{name}}}

                    {{#assertions}}
                        {{#failed}}
                            {{#module}}Module: {{{module}}}<br/>{{/module}}
                            {{#message}}Message: {{{message}}}<br/>{{/message}}
                            {{#expected}}Expected: {{{expected}}}<br/>{{/expected}}
                            Actual: {{{actual}}}
                        {{/failed}}
                    {{/assertions}}
                {{/failed}}
            {{/tests}}
        {{/result}}
    {{/failedTaskReports}}
{{/failed}}

{{{encodedTaskPath}}}

<!-- Sauce labs report -->
    var passedCount = {{{passed}}};
    var totalCount = {{{total}}};
    var failedCount = {{{failed}}};

    var res = {
        passed: passedCount,
        failed: failedCount,
        total:  totalCount,
        errors: [],
        tests:  []
    };

    var failedTest = null;
    var taskPath = null;

        {{#failedTaskReports}}
        taskPath = '{{{name}}}';
            {{#result}}
            var duration = {{{runtime}}};
                {{#tests}}
                    {{#failed}}
                    var name = '{{{name}}}';
                    failedTest = {
                        testPath: taskPath,
                        testName: name
                    };
                        {{#assertions}}
                            {{#failed}}
                            var message = '{{{message}}}';
                            var expected = '{{{expected}}}';
                            var actual = '{{{actual}}}';
                            var source = '{{{source}}}';

                            if (message)
                                failedTest.customMessage = message;

                            failedTest.expected = expected;
                            failedTest.actual = actual;
                            failedTest.source = source;
                            {{/failed}}
                        {{/assertions}}
                    res.errors.push(failedTest);

                    var resMessage = [failedTest.customMessage || 'test failed'];

                    if (name !== 'global failure') {
                        resMessage.push('expected: ' + failedTest.expected);
                        resMessage.push('actual: ' + failedTest.actual);
                    }

                    res.tests.push({
                        name:     failedTest.testPath + ' ---> ' + failedTest.testName,
                        result:   false,
                        message:  failedTest.customMessage || 'test failed',
                        duration: duration,
                        expected: failedTest.expected,
                        actual:   failedTest.actual,
                        source:   failedTest.source
                    });
                    {{/failed}}
                {{/tests}}
            {{/result}}
        {{/failedTaskReports}}

