<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel=stylesheet href="/qunit-1.18.0.css">

    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/qunit-1.18.0.js"></script>

    <script type="text/javascript">
        (function () {
            {{{globals}}}
        })();
    </script>

    <script type="text/javascript">
        (function () {
            {{{qunitSetup}}}
        })();
    </script>

    <script type="text/javascript">
        (function () {
            {{{storeGlobals}}}
        })();
    </script>

    {{# css}}
        <link rel="stylesheet" type="text/css" href="{{{src}}}">
    {{/css}}

    {{# scripts}}
        <script type="text/javascript" src="{{{src}}}"></script>
    {{/scripts}}

    <script type="text/javascript">
        (function () {
            {{{restoreGlobals}}}
        })();
    </script>
</head>
<body>
<ol id=qunit-tests></ol>

{{{ markup }}}

<script type="text/javascript">
    (function () {
        {{{ test }}}
    })();
</script>
</body>
</html>
